@import url('https://fonts.googleapis.com/css?family=Questrial');

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font: 100 14px questrial;
  color: #a0a0a0;
  padding: 2em 1em;
  max-width: 1000px;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0; 
}

header,
footer,
section,
div {
  box-sizing: border-box;
}

header {
  text-align: center;
  font-size: 2em;
  margin-bottom: 2%
}

.status-container {
  width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto 2%;
  text-align: center;
}

.rating {
  order: -1;
  width:100%;
}

.stars {
  width:12%;
  padding-top:4%;
  margin: auto;
  margin-bottom: 2%;
  background: url(../images/stars.svg) no-repeat 0% 0%; /* 0% = 3 star - 50% = 2 - 100% = 1*/
  background-size: 167%;
}

.complete-container {
  display: none;
  height: 100%;
  width: 100%;
  z-index: 10;
  background: rgba(94, 94, 94, 0.75);
  position: fixed;
  top:0;
  left:0;
  padding: 10% 0 0;
}

.results-container {
  width: 80%;
  max-width: 500px;
  background-color: #fff;
  margin: auto;
  padding: 4%;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top:2%;
  right:6%;
  font-size: 2em;
  padding: 4%;
}

.congratulations {
  margin-bottom: 0;
}

.reaction-1 {
  margin-top: 0;
}

.moves-result, .timer-result {
  padding: 0 0 1% 0;
}

.end-stars {
  width:12%;
  padding-top:4%;
  margin: auto;
  margin-bottom: 2%;
  background: url(../images/stars.svg) no-repeat 0% 0%;
  background-size: 167%;
}

.game-container {
  width: 100%;
  background-color: #89b6e2;
  padding:1% 1%;
  content: "";
  clear: both;
  display: table;
  overflow: hidden;
}

.card.clicked {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card {
  padding: 11.5%;
  margin: 1% 1%;
  background-color: #a0a0a0;
  position: relative;
  float: left;
  transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front, .back {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background-color: #a0a0a0;
  -webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  background: url(../images/question.svg) no-repeat bottom left #a0a0a0;
  background-size: contain;
  }

.dessert {
  background: url(../images/dessert.svg) no-repeat bottom left #fff;
  background-size: contain;
}

.island {
  background: url(../images/island.svg) no-repeat bottom left #fff;
  background-size: contain;
}

.mountain {
  background: url(../images/mountain.svg) no-repeat bottom left #fff;
  background-size: contain;
}

.rail {
  background: url(../images/rail.svg) no-repeat bottom left #fff;
  background-size: contain;
}

.ship {
  background: url(../images/ship.svg) no-repeat bottom left #fff;
  background-size: contain;
}

.stadium {
  background: url(../images/stadium.svg) no-repeat bottom left #fff;
  background-size: contain;
}

.trail {
  background: url(../images/trail.svg) no-repeat bottom left #fff;
  background-size: contain;
}

.woods {
  background: url(../images/woods.svg) no-repeat bottom left #fff;
  background-size: contain;
}

.match {
  animation: jump 0.4s;
  animation-iteration-count: 1;
}

.mismatch {
  animation: shake 0.2s;
  animation-iteration-count: 2;
}

@media screen and (min-width: 600px) {
  .game-container, .status-container, footer {
    margin:0 auto 1%;
    width:50%;
  }
}

@keyframes shake {
  0% { transform: translate(30px, 0px) rotate(0deg); }
  50% { transform: translate(-30px, 0px) rotate(0deg); }
  100% { transform: translate(30px, 0px) rotate(0deg); }
}

@keyframes jump {
  30% { transform: translate(0px, -40px) rotate(0deg); }
  60% { transform: translate(0px, 0px) rotate(0deg); }
  80% { transform: translate(0px, -20px) rotate(0deg); }
  100% { transform: translate(0px, 0px) rotate(0deg); }
}